:root {
  --header-font: "Inconsolata", monospace;
  --primary-font: "Space Mono", monospace;
  --secondary-font: "Montserrat", sans-serif;
  --gray-1: #333333;
  --gray-2: #4f4f4f;
  --gray-3: #bdbdbd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}

.grid-main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 3rem;
}

.container {
  margin: 0 auto;
  max-width: 1288px;
  width: 90%;
}

header {
  padding: 1em 0;
}

.header__brand {
  color: var(--gray-1);
  font-family: var(--header-font);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.536rem;
  letter-spacing: -0.08em;
  text-transform: uppercase;
}

.error__title {
  color: var(--gray-1);
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.44rem;
  letter-spacing: -0.035em;
}

.error__details {
  color: var(--gray-2);
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.175rem;
  letter-spacing: -0.035em;
  max-width: 23.8rem;
}

.error__button {
  background: var(--gray-1);
  padding: 1.5em 2em;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.375rem;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  margin-top: 3.25rem;
}

.attribution {
  color: var(--gray-3);
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-align: center;
}

.attribution a {
  color: var(--gray-3);
  font-family: var(--secondary-font);
  text-decoration: underline;
  font-weight: 700;
}

@media (min-width: 700px) {
  .flex-row {
    display: flex;
  }
  .error__col + .error__col {
    margin-left: 4em;
  }
}
@media (min-width: 900px) {
  .flex-center-y {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .error__title {
    font-size: 4rem;
    line-height: 5.88rem;
  }
  .error__details {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
